<h2>Statistics</h2>
<p><b>Class Hours:</b> {{class_hrs}}</p>
<p><b>Outside Hours:</b> {{outside_hrs}}</p>
<p><b>Content Difficulty:</b> {{content_difficulty}}</p>
<p><b>Grading Difficulty:</b> {{grading_difficulty}}</p>
<p><b>Overall Satisfaction:</b> {{overall_satisfaction}}</p>