<tr>
    <td><a href='/course/?course_number={{course_numbers}}'>{{course_numbers}}</a></td>
    <td>{{name}}</td>
    <td value={{total_units}}>{{units}}</td>
    <td>{{stats.class_hrs}}</td>
    <td>{{stats.outside_hrs}}</td>
    <td>{{stats.content_difficulty}}</td>
    <td>{{stats.grading_difficulty}}</td>
    <td>{{stats.overall_satisfaction}}</td>
</tr>
