<div class="profile_info">
  <span class="profile_line">
    <div class="resizing-input">
      <input type="text" id="first_name" value="{{ profile.first_name}}" placeholder="Firstname" disabled>
      <span class="no-display"></span>
    </div>
    <div class="resizing-input">
      <input type="text" id="last_name" value="{{ profile.last_name}}" placeholder="Lastname" disabled>
      <span class="no-display"></span>
    </div>
  </span>
  <span class="profile_line">
    <img src="/resources/email.png" class="profile_img" alt="email">
    <p class="profile_text">{{ profile.email }}</p>
  </span>
  <span class="profile_line">
    <img src="/resources/major.png" class="profile_img" alt="major">
    <div class="resizing-input">
      <input type="text" id="major1" value="{{ profile.major1 }}" placeholder="No major" disabled>
      <span class="no-display"></span>
    </div>
  </span>
  <span class="profile_line">
    <img src="/resources/minor.png" class="profile_img" alt="minor">
    <div class="resizing-input">
      <input type="text" id="minor" value="{{ profile.minor}}" placeholder="No minor" disabled>
      <span class="no-display"></span>
    </div>
  </span>
  <span class="profile_line">
    <img src="/resources/year.png" class="profile_img" alt="graduation year">
    <div class="resizing-input">
      <input type="text" id="graduation_year" value="{{ profile.graduation_year}}" placeholder="No graduation year" disabled>
      <span class="no-display"></span>
    </div>
  </span>
  <button id="edit-user" class="button">Edit</button>
  <button id="submit-profile" class="button">Submit</button>
</div>