<h1>Welcome Back, {{ profile.first_name }} {{ profile.last_name }}</h1>
<h2>User Info:</h2>
<table>
<tr>
  <td>Email:</td>
  <td>{{ profile.kerberos }}@mit.edu
</tr>
<tr>
  <td>First Name:</td>
  <td><input type="text" id="first_name" value="{{ profile.first_name}}"></td>
</tr>
<tr>
  <td>Last Name:</td>
  <td><input type="text" id="last_name" value="{{ profile.last_name}}"></td>
</tr>
<tr>
  <td>Major:</td>
  <td><input type="text" id="major1" value="{{ profile.major1 }}"></td>
</tr>
<tr>
  <td>Minor:</td>
  <td><input type="text" id="minor" value="{{ profile.minor}}"></td>
</tr>
<tr>
  <td>Graduation Year:</td>
  <td><input type="text" id="graduation_year" value="{{ profile.graduation_year}}"></td>
</tr>
</table>
<br>
<button id="edit-user" class="btn btn-default">Submit Changes</button>
<h2>Courses/Reviews:</h2>
<table>
{{#each profile.course_reviews}}
  {{> review_thumbnail review=this }}
{{/each}}
</table>
<br>
<a href="/profile/review" id="add-review" class="btn btn-default">Add/Review Course:</a>
